# Copyright (c) 2025 Noir Guo
# SPDX-License-Identifier: MIT

config SHIELD_CYGTYL_DONGLE
    def_bool $(shields_list_contains,cygtyl_dongle)

config SHIELD_CYGTYL_PH_LEFT
    def_bool $(shields_list_contains,cygtyl_ph_left)

config SHIELD_CYGTYL_RIGHT
    def_bool $(shields_list_contains,cygtyl_right)
