
if SHIELD_CYGTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Cygtyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CYGTYL_LEFT || SHIELD_CYGTYL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_RGB_UNDERGLOW
    select WS2812_STRIP
    select SPI

endif
