config SHIELD_KY89_DONGLE
    def_bool $(shields_list_contains,ky89_dongle)

config SHIELD_KY89_LEFTWITHDRUM
    def_bool $(shields_list_contains,ky89_leftwithdrum)

config SHIELD_KY89_RIGHT
    def_bool $(shields_list_contains,ky89_right)
